@charset "utf-8";

* { margin: 0; padding: 0;}

body {
    font-size: 13px;
    font-family: NanumGothic, sans-serif;
}

.container {
	width:760px;
}


/* ----- LOGIN FORM ----- */

#login {
    max-width: 380px;
    margin: 140px auto;
}

#form-login {
}

p.text {
	line-height:1.8em;
}


/* ----- TABLE ----- */

.table-list { margin-top:30px; }

.table-list td, .table-list th {
	text-align: center;
}

.table-list td.table-title {
	text-align: left;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}


/* ----- USER - BOOK-VIEW ------ */
.book-view { }
.book-view .story-list { margin:40px 0 10px 0; }
.book-view .story-list .story-list-header {
	margin:10px 0 5px 0; padding: 2px;
	font-weight: bold;
}
.book-view .story-list .story-list-item { padding:10px 10px 2px 5px; }
.book-view .buttons { text-align: right; }

/* ----- USER - STORY-VIEW ----- */
.story-view { }
.story-view p.keywords { margin: 30px 0; }
.story-view .story-nav { margin:20px 5px; }
