@charset "utf-8";

* { margin: 0; padding: 0;}

body {
    font-size: 14px;
    font-family: NanumGothic, sans-serif;
    padding-top: 70px;
}

.container {
	max-width:760px;
}

p.text {
	font-size:1.1em;
	line-height:1.8em;


/* ----- LOGIN ----- */

#login {
    max-width: 380px;
    margin: 140px auto;
}

#form-login {
}

}


/* ----- TABLE ----- */

.table-list { margin-top:30px; }

.table-list td, .table-list th {
	text-align: center;
}

.table-list td.table-title {
	text-align: left;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}


/* ----- USER - BOOK-VIEW ------ */
.book-view { }
.book-view h3 {
	font-weight: 600;
	letter-spacing:-1px;
}
.book-view .story-list { margin:40px 0 10px 0; }
.book-view .story-list .story-list-header {
	margin:10px 0 5px 0; padding: 2px;
	font-weight: bold;
}
.book-view .story-list .story-list-item { padding:10px 10px 2px 5px; }
.book-view .buttons { text-align: right; }

/* ----- USER - STORY-VIEW ----- */
.story-view { }
.story-view h2 { font-weight: 600; margin-bottom:30px; text-align: center;}
.story-view h3 {
	font-weight: 700;
	letter-spacing:-2px;
	word-break: break-all;
	margin:20px 0 30px 0;
	padding:0 0 20px 0;
	border-bottom:1px solid #e7e7e7;
}
.story-view .resizer { margin-bottom:20px; padding-right:20px;}
.story-view p.keywords { margin: 30px 0; }
.story-view .buttons { text-align:center;}
.story-view .story-nav { margin:20px 0; }
